etc/bokmaal.300.cbow.bin filter=lfs diff=lfs merge=lfs -text
etc/bokmaal.300.skipgram.bin filter=lfs diff=lfs merge=lfs -text
etc/cc.bokmaal.300.bin filter=lfs diff=lfs merge=lfs -text
etc/cc.nynorsk.300.bin filter=lfs diff=lfs merge=lfs -text
etc/nynorsk.300.cbow.bin filter=lfs diff=lfs merge=lfs -text
etc/nynorsk.300.skipgram.bin filter=lfs diff=lfs merge=lfs -text
etc/samnorsk.300.cbow.bin filter=lfs diff=lfs merge=lfs -text
etc/samnorsk.300.skipgram.bin filter=lfs diff=lfs merge=lfs -text
models/08de9f6/1/256/samnorsk/samnorsk-154.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
models/08de9f6/1/256/samnorsk/samnorsk-154.index filter=lfs diff=lfs merge=lfs -text
models/08de9f6/1/256/samnorsk/samnorsk-154.meta filter=lfs diff=lfs merge=lfs -text
models/0f9ee3d/1/256/samnorsk/samnorsk-132.meta filter=lfs diff=lfs merge=lfs -text
models/0f9ee3d/1/256/samnorsk/samnorsk-132.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
models/0f9ee3d/1/256/samnorsk/samnorsk-132.index filter=lfs diff=lfs merge=lfs -text
models/2018-09-01/nynorsk/nynorsk_1_256-116.index filter=lfs diff=lfs merge=lfs -text
models/2018-09-01/nynorsk/nynorsk_1_256-116.meta filter=lfs diff=lfs merge=lfs -text
models/2018-09-01/nynorsk/nynorsk_1_256-116.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
models/2018-08-31/bokmaal/bokmaal_1_256-152.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
models/2018-08-31/bokmaal/bokmaal_1_256-152.index filter=lfs diff=lfs merge=lfs -text
models/2018-08-31/bokmaal/bokmaal_1_256-152.meta filter=lfs diff=lfs merge=lfs -text
data/bokmaal filter=lfs diff=lfs merge=lfs -text
data/nynorsk filter=lfs diff=lfs merge=lfs -text
data/samnorsk filter=lfs diff=lfs merge=lfs -text
data/bokmaal/test.bioes filter=lfs diff=lfs merge=lfs -text
data/samnorsk/no_samnorsk-ud-test.bioes filter=lfs diff=lfs merge=lfs -text
data/bokmaal/no_bokmaal-ud-train.bioes filter=lfs diff=lfs merge=lfs -text
data/nynorsk/no_nynorsk-ud-test.bioes filter=lfs diff=lfs merge=lfs -text
data/nynorsk/no_nynorsk-ud-dev.bioes filter=lfs diff=lfs merge=lfs -text
data/bokmaal/no_bokmaal-ud-test.bioes filter=lfs diff=lfs merge=lfs -text
data/samnorsk/no_samnorsk-ud-dev.bioes filter=lfs diff=lfs merge=lfs -text
data/samnorsk/no_samnorsk-ud-train.bioes filter=lfs diff=lfs merge=lfs -text
data/nynorsk/test.bioes filter=lfs diff=lfs merge=lfs -text
data/bokmaal/no_bokmaal-ud-dev.bioes filter=lfs diff=lfs merge=lfs -text
data/nynorsk/no_nynorsk-ud-train.bioes filter=lfs diff=lfs merge=lfs -text
